input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid #D9534F;
}

button, input, textarea, img {
  border-radius: 0;
  -webkit-box-shadow: 0 2px 5px #333;
  -moz-box-shadow: 0 2px 5px #333;
  box-shadow: 0 2px 5px #333;
}

label, p {
  font-size: 2rem;
}
