button {
  box-shadow: 0 2px 2px #333;
  text-shadow: 1px 1px #333;
  border-radius: 15px;

}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0;
}
